pre {
    width: 90%;
}

@media screen and (min-width: 768px) {
    #main_div {
        width: 96%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    #main_div {
        width: 100%;
        padding: 0;
    }
}


.col-lg-8, .col-lg-4, .breadcrumb {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

@media screen and (min-width: 768px) {

}

@media (min-width: 992px) {
    .col-lg-8 {
        max-width: 70% !important;
        flex: 0 0 70% !important;

    }

    .col-lg-4 {
        max-width: 30% !important;
        flex: 0 0 30% !important;

    }
}

#navbar_back {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.nav-link:hover {
    color: #ff6600 !important;
    font-weight: bold;
}




#side_breadcrumb {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}


.sidebar_post_text {
    margin-bottom: 10px;
}

.sidebar_post_title {
    width: 100%;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #666666;
    content: '»';
    padding: 0;

}

.sidebar_post_time {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 10px;

}

.breadcrumb-item {
    padding: 0 2px !important;
}

.path_mark {
    color: #666666;
    font-size: 14px;
}

.path_mark_active {
    color: #333333;
    font-size: 14px;
}

.sidebar-left {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}

.sidebar-left-to-bottom {
    position: fixed;
    float: left;
    z-index: 2;
}

#logo_img {
    height: auto;
    width: 10vw;
}

#tag_cloud {
    width: 100%;
    height: 160px;
    position: relative;
    font-size: 14px;
    color: #333;
    margin: auto;
    text-align: center;
}

#tag_cloud a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #333;
    font-family: Arial;
    text-decoration: none;
    margin: 0 10px 15px 0;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    padding: 4px 6px;
    display: inline-block;
    border-radius: 3px;
}

#tag_cloud a.tagc1 {
    background: #666;
    color: #fff;
}

#tag_cloud a.tagc2 {
    background: #FF9933;
    color: #fff;
}

#tag_cloud a.tagc3 {
    background: #CC3333;
    color: #fff;
}

#tag_cloud a.tagc4 {
    background: #339900;
    color: #fff;
}

#tag_cloud a:hover {
    color: #fff;
    background: #0099ff;
}

#sitefoot {
    width: 100%;
    height: 80px;
    background-color: #666666;
    bottom: 0;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #EEEEEE;
}

.little_tools {
    position: fixed;
    z-index: 5;
    right: 15px;
    bottom: 50px;
    width: 35px;
    height: auto;
}

.little_tools_button {
    background-color: #f8f9fa;
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
    opacity: 0.8;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.little_tools_button:focus,
.little_tools_button:hover,
.little_tools_button:active,
.little_tools_button:visited {
    border: 1px solid #DDDDDD;
    box-shadow: none;
    outline: none;
}

.little_tools_button:hover {
    color: #ed5736;
    outline: none;
}

#post_catalog {
    position: fixed;
    z-index: 999;
    right: 55px;
    bottom: 50px;
    width: 200px;
    height: 240px;
    opacity: 0.95;
    border: 1px solid #999999;
    display: none;
}

#post_catalog_list {
    float: left;
    overflow: paged-y;
    width: 173px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 10px 2px 5px 2px;

}

#post_catalog_list a{
    color: #333333;
}

#post_catalog_title {
    float: right;
    width: 25px;
    height: 100%;
    text-align: center;
    /*writing-mode:vertical-lr;*/
    margin: 0 auto;
    border-left: 1px solid #DDDDDD;
    background-color: #4d99bf;
    color: #FFFFFF;
}


#post_catalog_button:after,
#post_catalog_button:hover,
#post_catalog_button{
    border: none;
    background-color: unset;
    color: #FFFFFF;
    padding: 0;
    box-shadow: none;
    outline: none;
}
