pre {
    width: 90%;
}


@media screen and (min-width: 768px) {
    #main_div {
    width: 96%;
    margin: auto;
    }
}

@media screen and (max-width: 767px) {
    #main_div {
    width: 100%;
    padding: 0;
    }
}



.col-lg-8, .col-lg-4, .breadcrumb {
    padding-left: 10px!important;
    padding-right: 10px !important;
}

@media screen and (min-width: 768px) {

}

@media (min-width: 992px) {
    .col-lg-8 {
        max-width: 70% !important;
        flex: 0 0 70% !important;

    }

    .col-lg-4 {
        max-width: 30% !important;
        flex: 0 0 30% !important;

    }
}

#navbar_back {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.nav-link:hover {
    color: #ff6600 !important;
    font-weight: bold;
}

.return_top {
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    color: rgba(68, 68, 68, 0.9);
    z-index: 2;
    display: none;
    position: fixed;
    bottom: 8vh;
    right: 0.5vw;
    text-align: center;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
}

.return_top:focus,
.return_top:hover,
.return_top:active,
.return_top:visited {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.return_top:hover {
    color: #ed5736;
    outline: none;
}


#side_breadcrumb {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #666666;
    content: '»';
    padding: 0;

}

.breadcrumb-item {
    padding: 0 2px!important;
}

.path_mark {
    color: #666666;
    font-size: 14px;
}

.path_mark_active {
    color: #333333;
    font-size: 14px;
}

.sidebar-left {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}

.sidebar-left-to-bottom {
    position: fixed;
    float: left;
    bottom: 0;
    z-index: 2;
}

#logo_img {
    height: auto;
    width: 10vw;
}