body {
    /*font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu !important;;*/
    background-color: #EEEEEE;
}
.post_title_font_big {

    font-weight: bold;
    font-size: 18px;
    color: #444444;
}

.post_desc_font {
    font-size: 12px;
    color: #999999;
}

.post_text_font {
    font-size: 14px;
    color: #666666;
}

.div_boder {
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px #CCCCCC;
}


