{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {% if tag %}
                标签页: {{ tag.name }}
            {% elif category %}
                分类页: {{ category.name }}
            {% endif %}
        {% endblock %}--Typeidea博客
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/a11y-dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/base.css' %}">

    <script type="application/javascript"
            src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% block style %}

    {% endblock %}
</head>
<body>

<div id="main_div">

    <div id="head">
        {% block head %}
            <div id="category_nav">
                <div id="navbar_back">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        <img id="logo_img" src="{% static 'image/logo.png' %}" alt="">
                    </a>

                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">首页 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            {% for nav in navs %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{% url 'category' nav.id %}">{{ nav.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <form action="/search/" class="form-inline my-2 my-lg-0"
                              method="get">
                            <input class="form-control mr-sm-2" type="search"
                                   placeholder="Search" aria-label="Search"
                                   value="{{ keyword }}" name="keyword">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    type="submit">Search
                            </button>
                        </form>
                    </div>
                </nav>
                </div>

            </div>
            <div class="jumbotron">
                <h1 class="display-4">Typeidea</h1>
                <p class="lead">基于Django的多人博客系统</p>
            </div>
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-9" style="border-right: 1px solid lavender">
                <div class="content-col">
                    {% block content %}

                    {% endblock %}
                </div>

            </div>
            <div class="col-lg-3 sidebar-col">
                <div class="sidebar-left">
                    {% block sidebar %}
                        {% for sidebar in sidebars %}
                            <div class="card"
                                 style="margin-bottom: 10px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sidebar.title }}</h5>
                                    {% ifequal sidebar.display_type 1 %}
                                        <p class="card-text">{{ sidebar.content_html|safe }}</p>
                                    {% else %}
                                        <p class="card-text">{{ sidebar.content_html }}</p>
                                    {% endifequal %}

                                </div>
                            </div>
                        {% endfor %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container" id="foot">
        <div class="row">
            <div class="col-lg-9">
                <div id="foot_category">
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:return false"
                                                class="nav-link">更多类别: </a></li>
                        {% for cate in categorys %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'category' cate.id %}">{{ cate.name }}</a>
                            </li>
                        {% endfor %}
                        {% for tag in tags %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="container power"
                 style="text-align: center; margin-bottom: 20px">
            <span class="text-muted">
                友情链接:
                <a href="{% url 'link' %}">Links</a>
                |&nbsp;Typeidea©Gai
            </span>
            </div>
        </div>
    </div>

</div>


<button class="return_top">
    <svg class="bi bi-capslock" width="1em" height="1em" viewBox="0 0 16 16"
         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM14.346 8.5L8 1.731 1.654 8.5H4.5a1 1 0 0 1 1 1v1h5v-1a1 1 0 0 1 1-1h2.846zm-9.846 5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1zm6 0h-5v1h5v-1z"/>
    </svg>
    <br>
    <p style="font-size: 14px; margin:0;padding: 0; text-align: center">返回顶部</p>
</button>

</body>
</html>