{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    {#    {{ block.super }}#}
    {{ post.title }} - gai520.com
{% endblock %}

{% block style %}
    <script type="application/javascript"
            src="{% static 'js/get_post_catalog.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'js/comment.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blog/detail.css' %}">

{% endblock %}

{% block content %}

    <div id="post_text" class="div_boder">
        <div id="post_text_tag" class="desc_font_14">
            <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                <path fill-rule="evenodd"
                      d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
            </svg>
            正在阅读
        </div>
        <div id="post_title" style="font-family: STsong">
            <span class="silk-ribbon-back"></span>
            <span class="silk-ribbon">
                <span class="silk-ribbon-text title_font_24"
                      title="{{ post.title }}"
                      onclick="window.alert('文章标题: {{ post.title }}')">
                    {{ post.title }}
                </span>

            </span>
        </div>

        <div id="post_other_info" class="desc_font_14">
            {# 日期 #}
            <svg class="bi bi-clock" style="margin-bottom: 2px" width="1em"
                 height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd"
                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            {{ post.created_time|date:'Y年m月d日' }}&nbsp;&nbsp;
            {# 评论量 #}
            <svg class="bi bi-chat-square-dots" width="1em" height="1em"
                 viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            {{ post.comment_count.0 }}&nbsp;&nbsp;
            {# 访问量 #}
            <svg class="bi bi-eye" style="margin-bottom: 2px" width="1em"
                 height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                <path fill-rule="evenodd"
                      d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            {{ post.pv }}&nbsp;&nbsp;
            {# 分类 #}
            <svg class="bi bi-bookmark" style="margin-bottom: 2px" width="1em"
                 height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
            </svg>
            <a href="{% url 'category' post.category.id %}">{{ post.category.name }}</a></span>&nbsp;&nbsp;
            {# 标签 #}
            <svg class="bi bi-tag" width="1em" height="1em" viewBox="0 0 16 16"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M.5 2A1.5 1.5 0 0 1 2 .5h4.586a1.5 1.5 0 0 1 1.06.44l7 7a1.5 1.5 0 0 1 0 2.12l-4.585 4.586a1.5 1.5 0 0 1-2.122 0l-7-7A1.5 1.5 0 0 1 .5 6.586V2zM2 1.5a.5.5 0 0 0-.5.5v4.586a.5.5 0 0 0 .146.353l7 7a.5.5 0 0 0 .708 0l4.585-4.585a.5.5 0 0 0 0-.708l-7-7a.5.5 0 0 0-.353-.146H2z"/>
                <path fill-rule="evenodd"
                      d="M2.5 4.5a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm2-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            {% for t in post.tag.all %}
                <a href="{% url 'tag' t.id %}">{{ t.name }}</a>
            {% endfor %}
        </div>

        <div id="post_desc" class="desc_font_14">
            <svg class="bi bi-file-text" style="margin-bottom: 2px" width="1em"
                 height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd"
                      d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            简介:&nbsp;&nbsp;{{ post.desc }}
        </div>
        <div style="width: 100%;padding: 0 20px">
            <hr color="#EEEEEEE">
        </div>
        <div id="post_text_content" class="post_content text_font_16">
            {{ post.content|safe }}
        </div>

    </div>

    <div id="last_next_post">
        {% if post.get_last_post %}
            <div id="last_post"
                 onclick="window.open('{% url "post" post.get_last_post.id %}', '_self')">
                <div class="last_next_post_attr text_font_14">
                    <svg class="bi bi-caret-left-fill"
                         style="margin-bottom: 2px"
                         width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    上一篇
                </div>
                <div class="last_next_post_title text_font_14">{{ post.get_last_post.title }}</div>
            </div>
        {% else %}
            <div id="last_post">
                <div class="last_next_post_attr text_font_14">
                    <svg class="bi bi-caret-left-fill"
                         style="margin-bottom: 2px"
                         width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    上一篇
                </div>
                <div class="last_next_post_title text_font_14">已经是最新的文章了</div>
            </div>
        {% endif %}


        {% if post.get_next_post %}
            <div id="next_post"
                 onclick="window.open('{% url "post" post.get_next_post.id %}', '_self')">
                <div class="last_next_post_attr text_font_14">
                    下一篇
                    <svg class="bi bi-caret-right-fill"
                         style="margin-bottom: 2px"
                         width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </div>
                <div class="last_next_post_title text_font_14">{{ post.get_next_post.title }}</div>
            </div>
        {% else %}
            <div id="next_post">
                <div class="last_next_post_attr text_font_14">
                    下一篇
                    <svg class="bi bi-caret-right-fill"
                         style="margin-bottom: 2px"
                         width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </div>
                <div class="last_next_post_title text_font_14">已经是最后文章了</div>
            </div>
        {% endif %}


    </div>

    <div id="comment" name="comment" class="div_boder">
        <div id="comment_title"
             class="title_font_24">{{ post.comment_count.0 }}条评论&nbsp;&nbsp;
            {% if post.comment_count.1 %}
                <span class="text_font_14">{{ post.comment_count.1 }}条待审核</span>
            {% endif %}
        </div>

        <ul class="list-group">
            {% for comment in post.get_normal_comment %}
                <li class="list-group-item">
                    <div class="one_comment row">
                        <div class="image_col col-2">
                            <div class="user_image_div"
                                 style="float:right; width: 70%; padding-top: 5px">
                                <div class="user_image b_c_{{ comment.nickname|length }}">
                                    {{ comment.nickname|first }}
                                </div>
                            </div>
                        </div>
                        <div class="comment_info col-10">
                            <div class="comment_info_normel">
                                <span class="comment_nickname">{{ comment.nickname }}</span>
                                <span class="normel_font"
                                      style="margin-right: 20px;"> 发表了评论: </span>
                                <br class="comment_br">
                                <span class="comment_time normel_font">{{ comment.created_time }}</span>
                                <a class="reply_button"
                                   href="javascript:void(0)"
                                   onclick="show_reply_form(
                                           this,
                                           comment_id={{ comment.id }},
                                           reply_id={{ comment.id }},
                                           reply_type=0,
                                           to_name='{{ comment.nickname }}')">
                                           <span class="normel_font"
                                                 style="font-family: Microsoft YaHei">
                                           <svg
                                                   class="bi bi-reply-fill"
                                                   width="1em" height="1em"
                                                   viewBox="0 0 16 16"
                                                   fill="currentColor"
                                                   xmlns="http://www.w3.org/2000/svg">
                                           <path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
                                           </svg>回复</span>
                                </a>
                            </div>
                            <p class="comment_info_content">
                                {{ comment.content|linebreaksbr|urlize }}
                            </p>
                        </div>
                        <div class="col-12" style="float: right">
                            <div class=" reply_form" style="margin-right: 0">
                                <div style="font-style: italic; margin-bottom: 5px">
                                    <span class="normel_font">正在回复</span>
                                    <span size="16px"
                                          style="font-weight: bold">{{ comment.nickname }}</span>
                                    &nbsp;&nbsp;
                                    <a class="normel_font"
                                       href="javascript:void(0)"
                                       onclick="cancel_reply()">取消</a>
                                </div>
                                <div class="reply_form_form"></div>
                            </div>
                        </div>

                    </div>

                    <div class="one_comment_replys">
                        {% for reply in comment.get_normal_reply %}
                            <div class="one_replys row">
                                <div class="image_col col-2">
                                    <div class="user_image_div"
                                         style="float:right; width: 60%">
                                        <div class="user_image_reply b_c_{{ reply.from_name|length }}">
                                            {{ reply.from_name|first }}
                                        </div>
                                    </div>
                                </div>
                                <div class="reply_info col-10">
                                    <div class="reply_info_normel">
                                        <span class="reply_nickname">{{ reply.from_name }}</span>
                                        <span class="normel_font"
                                              style="margin-right:5px;margin-left: 5px;">回复了:</span>
                                        <span class="reply_nickname"
                                              style="margin-right: 20px">{{ reply.to_name }}</span>
                                        <br class="comment_br">
                                        <span class="comment_time normel_font">{{ reply.created_time }}</span>
                                        <a class="reply_button"
                                           href="javascript:void(0)"
                                           onclick="show_reply_form(this,
                                                   comment_id={{ comment.id }},
                                                   reply_id={{ reply.id }},
                                                   reply_type=1,
                                                   to_name='{{ reply.from_name }}',
                                                   )">
                                    <span class="normel_font"
                                          style="font-family: Microsoft YaHei">
                                        <svg
                                                class="bi bi-reply-fill"
                                                width="1em" height="1em"
                                                viewBox="0 0 16 16"
                                                fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
  <path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
</svg>回复</span>
                                        </a></div>
                                    {% ifequal reply.reply_type 1 %}
                                        <p class="reply_info_content_old">
                                            ##
                                            {{ reply.get_reply_target_content.from_content|linebreaksbr|urlize }}
                                            ##
                                        </p>
                                    {% endifequal %}
                                    <p class="reply_info_content">
                                        {{ reply.from_content|linebreaksbr|urlize }}
                                    </p>
                                </div>
                            </div>
                            <div class="reply_form">
                                <div style="font-style: italic; margin-bottom: 5px">
                                    <span class="normel_font">正在回复</span>
                                    <span size="16px"
                                          style="font-weight: bold">{{ reply.from_name }}</span>
                                    &nbsp;&nbsp;
                                    <a class="normel_font"
                                       href="javascript:void(0)"
                                       onclick="cancel_reply()">取消</a>
                                </div>
                                <div class="reply_form_form"></div>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div id="reply_form_base">
            <form class="form-group" id="reply_form" name="reply_form" onsubmit="comment_submit(this)" action="javascript:void(0)">
                <input type="hidden" value="{{ comment.id }}"
                       name="commentid">
                <input type="hidden" value="{{ post.id }}"
                       name="postid">
                <input type="hidden" value="{{ comment.nickname }}"
                       name="to_name">
                <input type="hidden" value="{{ reply.id }}"
                       name="reply_id">
                <input type="hidden" value="0" name="reply_type">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ reply_form.from_name.label }}</span>
                            </div>
                            {{ reply_form.from_name }}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ reply_form.from_email.label }}</span>
                            </div>
                            {{ reply_form.from_email }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ reply_form.phone.label }}</span>
                            </div>
                            {{ reply_form.phone }}
                        </div>
                    </div>
                     <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">验证码</span>
                            </div>
                            <div class="form-control" style="display: inline-block">
                                <input type="text" class="active_code_imput"
                                       name="active_code"
                                       style=""
                                       maxlength="6">
                                <button form="reply_form" class="get_active_code_button"
                                        style="" type="button" onclick="get_captcha(this)">
                                    获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ reply_form.from_website.label }}</span>
                            </div>
                            {{ reply_form.from_website }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ reply_form.from_content }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary normel_font">
                    提交回复
                </button>
            </form>
        </div>

        <div class="comment_form">
            <form class="form-group" name="comment_form" id="comment_form" onsubmit="comment_submit(this)" action="javascript:void(0)">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="postid">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ comment_form.nickname.label }}</span>
                            </div>
                            {{ comment_form.nickname }}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ comment_form.email.label }}</span>
                            </div>
                            {{ comment_form.email }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ comment_form.phone.label }}</span>
                            </div>
                            {{ comment_form.phone }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">验证码</span>
                            </div>
                            <div class="form-control" style="display: inline-block">
                                <input type="text" class="active_code_imput"
                                       name="active_code"
                                       style=""
                                       maxlength="6"
                                       pattern="[0-9]{6}"
                                       oninvalid="setCustomValidity('必须填写6位数字验证码！');"
                                       oninput="setCustomValidity('')"
                                        required>
                                <button form="comment_form" type="button" class="get_active_code_button"
                                        style="" onclick="get_captcha(this)">
                                    获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ comment_form.website.label }}</span>
                            </div>
                            {{ comment_form.website }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ comment_form.content }}
                    </div>
                </div>

                <button form="comment_form" id="comment_form_button" type="submit" class="btn btn-primary normel_font">
                    提交评论
                </button>
                <br>
            </form>
        </div>
    </div>
{% endblock %}

{% block tools_catalog %}
    <button class="little_tools_button" id="catalog" title="目录">
        <svg class="bi bi-list-ul" width="1.1em" height="1.1em"
             viewBox="0 0 16 16"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
    </button>
{% endblock %}

{% block tools_commint %}
    <button class="little_tools_button" title="评论"
            onclick="window.open('#comment','_self')">
        <svg class="bi bi-chat-square-dots" width="1em" height="1em"
             viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
    </button>
{% endblock %}


{#<script >$(document).ready(function (){ alert('yunxi');var divW = $(".user_image").width(); var divH = $(".user_image").height(); divH=divW;})</script>#}