<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<span>你收到有一个新的建议！</span><br><br>

&emsp;<span style="font-weight: bold; margin:10px 0 5px 0">建议内容:</span>

<div style="padding: 10px 20px; margin: 10px;font-weight: bold; border: 1px solid #666666">
    {{ comment }}
</div>

&emsp;<span style="font-weight: bold; margin:10px 0 5px 0">邮箱:</span><span>&nbsp;&nbsp;{{ email }}</span><br>
&emsp;<span style="font-weight: bold; margin:10px 0 5px 0">手机:</span><span>&nbsp;&nbsp;{{ phone }}</span><br>
&emsp;<span style="font-weight: bold; margin:10px 0 5px 0">IP:</span><span>&nbsp;&nbsp;{{ ip }}</span><br>
<br>
</body>
</html>