{% extends 'blog/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/blog/postlist.css' %}">
    <script type="application/javascript">


    </script>
{% endblock %}

{% block title %}
    {% ifequal path_mark 'category' %}
        分类: {{ category.name }} - gai520.com
    {% endifequal %}

    {% ifequal path_mark 'tag' %}
        标签: {{ tag.name }} - gai520.com
    {% endifequal %}

    {% ifequal path_mark 'search' %}
        搜索: {{ keyword }} - gai520.com
    {% endifequal %}

    {% ifequal path_mark 'index' %}
        首页 - gai520.com
    {% endifequal %}
{% endblock %}



{% block content %}
    {{ block.super }}

    {% if not postlist %}
        <div style="width: 100%; min-height: 70vh; text-align: center; padding-top: 20vh; font-size: 18px; color: #666666">
            <svg class="bi bi-emoji-frown" width="2em" height="2em"
                 viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
            很抱歉! 没有找到你查询的内容!
        </div>
    {% endif %}
    {% for post in postlist %}
        {# 新写的文章卡片列#}
        <div class="card post div_boder" style="padding: 10px;"
             onclick="window.open('{% url 'post' post.id %}','_self')">
            {% now 'U' as nt %}
            {% with nt|add:-259200 as bt %}
                {% if post.created_time|date:'U'|add:0 >=  bt %}
                    <div style="overflow: hidden; padding: 15px 0 15px;line-height: 14px; text-align:center;position: absolute; float: left; top: 0; right: 0; width: 50px;height: 50px;z-index: 2;">
                        <span style="display:inline-block;width:80px; text-align:left; padding-left:17px;color:#FFFFFF;background-color: #FF9933; font-size:14px; font-weight:bold;transform:rotate(45deg);">New</span>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="post_read_tag" style="">
                阅读全文
            </div>
            <div class="card_img_cont">
                <span class="silk-ribbon-2"><span>{{ post.category.name }}</span></span>
                <div class="card_img_back">
                    <img class="card_img"
                         src="{{ post.title_image.url }}"
                         alt="">
                </div>

            </div>
            <div class="card_post">
                <div class="card_post_title post_title_font_big">
                    <a class="post_title_font_big"
                       href="{% url 'post' post.id %}">{{ post.title }}</a>
                </div>
                <div class="card_post_desc post_text_font">
                    {{ post.desc }}
                </div>
                <div class="card_post_other post_desc_font">
                    <span class=" desc_font_14">分类: <a class="desc_font_14"
                                                       href="{% url 'category' post.category.id %}">{{ post.category.name }}</a></span>&nbsp;&nbsp;
                    <span class=" desc_font_14">标签:
                        {% for tag in post.tag.all %}
                            <a class="desc_font_14"
                               href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </span>&nbsp;&nbsp;
                    <span class="card-link post_desc_font">更新时间: {{ post.created_time }}</span>
                </div>
                <div class="card_post_other_minscreen desc_font_14">
                    {{ post.created_time|date:'Y年m月d日' }}
                    &nbsp;&nbsp;
                    <svg class="bi bi-eye" style="margin-bottom: 4px"
                         width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                        <path fill-rule="evenodd"
                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    {{ post.pv }}
                </div>
            </div>
        </div>

    {% endfor %}


    <div id="paginator">
        {% if page_obj %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}">上一页</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"
                               aria-disabled="true">上一页</a>
                        </li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        {% ifequal page page_obj.number %}
                            <li class="page-item active"><a class="page-link"
                                                            href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endifequal %}

                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}">下一页</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"
                               aria-disabled="true">下一页</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}
    </div>

{% endblock %}
