{% extends 'blog/base.html' %}

{% block style %}
    <style type="text/css">
        #list_type {

            font-size: 16px;
        }

        .post {
            border-bottom-width: 1px;
            margin-bottom: 10px;
            padding: 5px;
            min-height: 50px;
            overflow: hidden;
            display: block;
            position: relative;
        }

        .post span, .post p {
            font-size: 14px;
        }

        .post p {
            margin-top: 0.2rem;
        }

        #paginator {
            position: relative;
            float: right;
            margin: 20px 20px 0 0;
        }

        #sticky_posts_carousel_container {
            width: 100%;
            height: auto;
            margin: 0 0 10px 0;
            padding: 0;
            overflow: hidden;
            border-radius: 5px;
        }


        .carousel-inner {
            width: 100%;
        }

        .carousel-item {
            height: 100%;
            width: 100%;
        }

        .carousel-item img {
            max-width: 100%;
            height: 100%;
            margin: auto;
        }

        @media screen and (min-width: 768px) {
            .card_img_cont {
                width: 200px;
                height: 150px;
                overflow: hidden;
                background-color: #b1dfbb;
                border-radius: 10px;
                float: left;
            }
            .card_post {
                width: calc(100% - 200px);
                height: 150px;
                overflow: hidden;
                background-color: #999999;
                float: left;
                padding: 10px 20px;
            }

        }

        @media screen and (max-width: 767px) {
            .card_img_cont {
                width: 120px;
                height: 90px;
                overflow: hidden;
                background-color: #b1dfbb;
                border-radius: 10px;
                float: left;
            }
            .card_post {
                width: calc(100% - 120px);
                height: 90px;
                overflow: hidden;
                background-color: #999999;
                float: left;
                padding: 10px 20px;
            }
        }


    </style>
    <script type="application/javascript">


    </script>
{% endblock %}

{% block title %}
    {% if tag %}
        标签页: {{ tag.name }}
    {% elif category %}
        分类页: {{ category.name }}
    {% else %}
        首页
    {% endif %}
{% endblock %}



{% block content %}
    {{ block.super }}

    {# 首页轮播图 #}
    <div id="sticky_posts_carousel_container">
        <div id="carouselExampleCaptions" class="carousel slide"
             data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0"
                    class="active"></li>
                <li data-target="#carouselExampleCaptions"
                    data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions"
                    data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/article_images/root/2020/05/27/lsneho.PNG"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: red">第一张图片</h5>
                        <p>第一图</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/article_images/root/2020/05/27/lsneho.PNG"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: red">第二张图片</h5>
                        <p>第二图</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/article_images/root/2020/05/27/lsneho.PNG"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: red">第三张图片</h5>
                        <p>第三图</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions"
               role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions"
               role="button" data-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {% for post in postlist %}
        {# 新写的文章卡片列#}
        <div class="card post div_boder" style="padding: 10px;">
            <div class="card_img_cont">
                <img class="card_img" src="" alt="">
            </div>
            <div class="card_post">
                <div class="card_post_title"></div>
                <div class="card_post_desc"></div>
                <div class="card_post_other"></div>
            </div>
        </div>

        <div class="card post div_boder">

            <div class="card-body ">
                <h5 class="catd-title post_title_font_big"><a
                        class="post_title_font_big"
                        href="{% url 'post' post.id %}">{{ post.title }}</a>
                </h5>
                <span class="card-link post_desc_font">作者: <a
                        href="{% url 'auther' post.owner.id %}">{{ post.owner.username }}</a></span>
                <span class="card-link post_desc_font">分类: <a
                        href="{% url 'category' post.category.id %}">{{ post.category.name }}</a></span>
                <span class="card-link post_desc_font">标签:
                    {% for tag in post.tag.all %}
                        <a href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
                <span class="card-link post_desc_font">更新时间: {{ post.created_time }}</span>
                <p class="card-text post_desc_font">{{ post.desc }} <a
                        href="{% url 'post' post.id %}"> 详情>></a></p>

            </div>

        </div>
    {% endfor %}


    <div id="paginator">
        {% if page_obj %}

            {% if page_obj.has_previous %}
                <span><a
                        href="?page={{ page_obj.previous_page_number }}">上一页</a></span>
            {% endif %}
            <span>第{{ page_obj.number }}页 / 共{{ paginator.num_pages }}页.</span>
            {% if page_obj.has_next %}
                <span><a
                        href="?page={{ page_obj.next_page_number }}">下一页</a></span>

            {% endif %}

        {% endif %}
    </div>

{% endblock %}
